body {
    margin: auto;
    font-family: monospace;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
.star-rating {
    display: inline-block;
}

.star-rating > input {
    display: none;
    float: left;
}

.star-rating > label {
	color: lightgrey;
    font-size: 30px;
}

.star-rating > label:before {
	content: "★";
}

.star-rating > input ~ label {
    float: right;
}

.star-rating > input:not(:checked) + label:hover,
.star-rating > input:not(:checked) ~ label:hover ~ label {
	color: gold;
}

.star-rating > input:checked ~ label:hover ~ label,
.star-rating > input:checked + label:hover,
.star-rating > input:checked ~ label {
	color: gold;
}
.stars .checked {
    color: gold;
}