{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}
<a href="/logout">Kirjaudu ulos</a>
<a href="/my">Oma hylly</a></p>
<b>Kokoelma:</b> <br>
<hr>
{% for book in books %}
Nimi: {{ book.name }} <br>
Kirjailija: {{ book.author }} <br>
Julkaisuvuosi: {{ book.year }} <br>
Lainassa: {% if book.available == 1 %} kyllä {% else %} ei {% endif %}<br>
{% if book.available == 0 %}
<form action="/loan?id={{ book.id }}" method="POST">
    <input type="submit" value="lainaa">
</form>
{% endif %}
<hr>
{% endfor %}
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
